<header class="subhead hidden-phone hidden-tablet">
  <img src="images/hero-big.png"/>
</header>
<div class="row-fluid" id="home-search-wrapper">
  <div class="span12">
    <div class="visual_search hidden-tablet hidden-phone"></div>
    <div class="textual_search hidden-desktop">
      <form class="form-search">
        <input type="text" class="input-medium search-query" autocomplete="off" placeholder="Doorzoek het DDSC" x-webkit-speech="">
      </form>
    </div>
  </div>
</div>

<div class="row-fluid" id="homepage-search-results">
</div>

<div class="row-fluid">

  <div class="span3 measure-details">
      <div class="measure-info-header">
          <h4><em class="icon-bell icon-white"></em>&nbsp;Status</h4>
      </div>
      <ul class="homepage-list">
        <li><span class="badge badge-important">30 alarmen actief</span></li>
        
        <li><span class="badge badge-warning">20 sensoren in storing</span></li>
        <li><span class="badge badge-success">2000 sensoren actief</span></li>
      </ul>

  
      <div class="measure-info-header">
          <h4><em class="icon-globe icon-white"></em>&nbsp;Kaart</h4>

      </div>
      <div id="maps">
      <ul class="homepage-list">
        <li>
          <em class="icon-globe icon-white"></em>&nbsp;<a href="#">Algemeen</a>
        </li>
        <li>
          <em class="icon-globe icon-white"></em>&nbsp;<a href="#">Actueel</a>
        </li>              
        <li>
          <em class="icon-globe icon-white"></em>&nbsp;<a href="#">Valkenburg</a>
        </li>                            
      </ul>
      </div>

      <div class="measure-info-header">
          <h4><em class="icon-signal icon-white"></em>&nbsp;Grafiek</h4>
      </div>
      <div id="graphs">
        <ul class="homepage-list">
          <li><em class="icon-signal icon-white"></em>&nbsp;<a href="#">Boezem</a></li>
          <li><em class="icon-signal icon-white"></em>&nbsp;<a href="#">Weer</a></li>
          <li><em class="icon-signal icon-white"></em>&nbsp;<a href="#">Grechtdijk</a></li>
          <li><em class="icon-signal icon-white"></em>&nbsp;<a href="#">Buitenwater</a></li>
        </ul>  
      </div>
      <div class="measure-info-header">
          <h4><em class="icon-th icon-white"></em>&nbsp;Dashboard</h4>
      </div>
      <div id="graphs">
        <ul class="homepage-list">
          <li><em class="icon-th icon-white"></em>&nbsp;<a href="#">DAM</a></li>
          <li><em class="icon-th icon-white"></em>&nbsp;<a href="#">DMC systeem</a></li>
          <li><em class="icon-th icon-white"></em>&nbsp;<a href="#">Grechtdijk</a></li>
        </ul>  
      </div>            
  </div>     
  <div class="span9 measure-details">
      <div class="measure-info-header">
          <h4><em class="icon-rss"></em>&nbsp;Livestream</h4>
      </div>
      <div id="liveFeed">
    
      <div class="row-fluid">
        <div class="span1 hidden-phone hide-tablet"><em class="icon-globe icon-white"></em></div>
        <div class="span6">
          <strong><a href="#">Nieuwe sensor aangemaakt</a></strong><br/>
          <small>Oost Z2162 Kruin</small>
        </div>
        <div class="span3 text-right pull-right"><small class="muted">3 minuten geleden</small></div>
      </div>

      <div class="row-fluid odd">
        <div class="span1 hidden-phone hide-tablet"><em class="icon-bell icon-white"></em></div>
        <div class="span6">
          <strong><a href="#">Alarm</a></strong><br/>
          <small>Boezem, Amstelland</small>
        </div>
        <div class="span3 text-right pull-right"><small class="muted">9 minuten geleden</small></div>
      </div>

      <div class="row-fluid">
        <div class="span1 hidden-phone hide-tablet"><em class="icon-comment icon-white"></em></div>
        <div class="span6">
          <strong><a href="#">Annotatie toegevoegd</a></strong><br/>
          <small>Grechtdijk, Woerden, NL</small>
        </div>
        <div class="span3 text-right pull-right"><small class="muted">12 minuten geleden</small></div>
      </div>

      <div class="row-fluid odd">
        <div class="span1 hidden-phone hide-tablet"><em class="icon-info-sign icon-white"></em></div>
        <div class="span6">
          <strong><a href="#">Melding</a></strong><br/>
          <small>Afgelopen 24 uur 33 locaties zonder metingen</small>
        </div>
        <div class="span3 text-right pull-right"><small class="muted">1 uur geleden</small></div>
      </div>

      <div class="row-fluid">
        <div class="span1 hidden-phone hide-tablet"><em class="icon-info-sign icon-white"></em></div>
        <div class="span6">
          <strong><a href="#">Melding</a></strong><br/>
          <small>Dijk geinspecteerd, geen bijzonderheden</small>
        </div>
        <div class="span3 text-right pull-right"><small class="muted">1 uur, 15 minuten geleden</small></div>
      </div>                                    

      </div>
  </div>
<div class="span3 measure-details" id="measure-alarm">
</div>

<div class="span3 measure-details" id="measure-new-measurement">
</div>

<div class="span3 measure-details" id="measure-status">
</div>

</div>