<!DOCTYPE html>
<html>
<head>
    <title>Mocha Test Runner</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../test/lib/mocha/mocha.css">

    <script src="lib/mocha/mocha.js"></script>
    <script src="lib/expect.js"></script>
    <script>
        mocha.setup("bdd");
    </script>





        <!-- Template definitions -->
        <script type="text/template" id="home-template">
          <header class="jumbotron subhead hidden-phone hidden-tablet">
              <div class="container">
                <h1>Dijk Data Service Center</h1>
                <h2 class="lead">Gateway to realtime sensor aggregation</h2>
              </div>
          </header>

          <div class="row-fluid" id="home-search-wrapper">
             <div class="span6">
                <form class="form-search">
                  <input type="text" class="input-medium search-query" autocomplete="off" placeholder="Doorzoek het DDSC" x-webkit-speech="">
                </form>
             </div>
             <div class="span1 search-or-divider"><p>&nbsp;&nbsp;...of</p></div>
             <div class="span5">
                <button type="button" class="btn">
                    Zoek geavanceerd
                </button>
                <button type="button" class="btn">
                    Data catalogus
                </button>
             </div>
          </div>

          <div class="row-fluid" id="threecol-wrapper">
            <section class="span4" id="leftpane">

                <h3>Top locaties <button type="button" class="btn btn-mini">Alles op de kaart tonen</button></h3>

                <ol>
                    <li>Eemshaven</li>
                    <li>Utrecht</li>
                    <li>De Veenderij</li>
                    <li>Noorderzijlvest</li>
                    <li>Locatie 5</li>
                    <li>Locatie 6</li>
                    <li>Locatie 7</li>
                    <li>Locatie 8</li>
                    <li>Locatie 8</li>
                    <li>Locatie 8</li>
                </ol>
            </section>
            <section class="span4" id="midpane">
                <div class="row">
                    <h3>Alarmen</h3>
                </div>
                <div class="row">
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                </div>
            </section>
            <section class="span4" id="rightpane">
                <div class="row">
                    <h3>Sensoren</h3>
                </div>
                <div class="row">
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                </div>
            </section>
          </div>
        </script>

        <script type="text/template" id="map-template">
          <div class="row-fluid">

            <div class="span3" id="sidebar">
                <div class="" id="sidebarRegion"></div>
                <div class="" id="collageRegion"></div>
            </div>

            <div class="span9" id="leafletRegion"></div>

          </div>
        </script>


        <script type="text/template" id="icon-template">
            Some icon
        </script>

        <script type="text/template" id="show-no-items-message-template">
            <h4>&nbsp;</h4>
            <p>...</p>
        </script>

        <script type="text/template" id="iconsview-template">
            <h4>Icons</h4>
        </script>


        <script type="text/template" id="leaflet-template">
            <div id="map"></div>
        </script>


        <script type="text/template" id="layeritem-template">
            <span class="action handle">
                <i class="icon-move"></i>
            </span>
            <span class="content"><%= layerName %> (<%= layerType %>)</span>
            <span class="indicator">
                <i class="icon-eye-open"></i>
            </span>
        </script>

        <script type="text/template" id="collageitem-template">
            <span class="action remove">
                <i class="icon-remove"></i>
            </span>
            <span class="content"><%= title %></span>
            <span class="indicator toggle">
                <i class="icon-ok "></i>
            </span>
        </script>

        <script type="text/template" id="layersview-template">
            <h4><%=title%></h4>
        </script>









        <script type="text/template" id="testview-template">

            <div class="visible-phone"><div style="height:20px;"></div></div>
            <span id="summary">
                <h5>Modelbinder example</h5>
                <p>Dit is een voorbeeld van <a href="https://github.com/theironcook/Backbone.ModelBinder">model binding met de de-facto standaard</a> voor Backbone.</p>
                <p>Verander de voor/achternaam. Het object wordt (op het blur event) bi-directioneel aangepast.</p>
                <blockquote>
                    <code style="white-space: pre;" />
                </blockquote>
            </span>

            <div id="personFields">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                      <input type="text" name="firstName" id="firstName" placeholder="John">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                      <input type="text" name="lastName" id="lastName" placeholder="Doe">
                    </div>
                  </div>
                </form>
            </div>
        </script>

        <script id="node-template" type="text/template">
            <li><a href="<%= name %>"><%= nodeName %></a></li>
        </script>

        <script id="timeserieview-template" type="text/template">
            <div id="demo"></div>
        </script>

        <script id="filterview-template" type="text/template">
            <label class="checkbox">
                <input class="hide" type="checkbox" class="filterCheckbox" <%if(selected){%>class="selected" CHECKED<%}%>><i class="icon-tag"></i> <%= filtername %> <span class="state hide"><%= selected %></span>
            </label>
        </script>

        <script id="locationview-template" type="text/template">
            <label class="checkbox">
                <input class="hide" type="checkbox" class="filterCheckbox" <%if(selected){%>class="selected" CHECKED<%}%>><i class="icon-globe"></i> <%= name %> <span class="state hide"><%= selected %></span>
            </label>
        </script>

        <script id="parameterview-template" type="text/template">
            <label class="checkbox">
                <input class="hide" type="checkbox" class="filterCheckbox" <%if(selected){%>class="selected" CHECKED<%}%>>
                <i class="icon-flag"></i> <% if(!name){ %> Naamloze parameter <% } else { %><%=name%> <% } %>
                <span class="badge <% if(parametervalue<500){ %>badge-notice<% } else { %>badge-warning<% } %>"><%= parametervalue %></span><span class="state hide"><%= selected %></span>
            </label>
        </script>

        <script type="text/template" id="graphs-template">
          <div class="row-fluid">
            <div class="span3" id="sidebar">
                <div class="" id="sidebarRegion">
                    <ul class="nav nav-list sidenav transition" rel="popover" data-content="Use the sidebar to choose dimensions and variables." data-original-title="Sidebar" data-placement="right" data-trigger="manual">
                        <li class="metrics-dropdown" id="filters">
                            <a href="javascript:void(0);"><em class="icon-chevron-down"></em> Filters</a>
                            <p data-group="filters" id="filtersRegion" class="-hide"></p>
                        </li>
                        <li class="metrics-dropdown" id="locations">
                            <a href="javascript:void(0)"><em class="icon-chevron-down"></em> Locaties</a>
                            <p data-group="locations" id="locationsRegion" class="-hide"></p>
                        </li>
                        <li class="metrics-dropdown" id="parameters">
                            <a href="javascript:void(0);"><em class="icon-chevron-down"></em> Parameters</a>
                            <p data-group="parameters" id="parametersRegion" class="-hide"></p>
                        </li>
                        <li>
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#modalHelp"> Help</a>
                        </li>
                    </ul>
                    </div>
                    <div class="" id="collageRegion"></div>
            </div>

            <div class="span9" id="mainRegion">
             <h4>Grafieken</h4>
              <div id="graphs"></div>
            </div>
          </div>
        </script>

        <script type="text/template" id="dashboard-template">
            <div class="gridster">
              <ul>
                <li class="try" data-row="2" data-col="3" data-sizex="1" data-sizey="1"></li>
              </ul>
            </div>
        </script>

        <script type="text/template" id="overview-template">
          <div class="row-fluid">
            <div class="span12" id="dashboardRegion"></div>
          </div>
        </script>

        <script type="text/template" id="account-template">
          <h4>Uw gegevens</h4>
        </script>

        <script type="text/template" id="help-template">
          <h4>Help</h4>
        </script>














    <!-- Load in files -->
        <!-- build:js ../app/scripts/jquery.js -->
        <script src="../app/scripts/vendor/jquery-1.8.3.js"></script>
        <script src="../app/scripts/vendor/jquerypp.js"></script>
        <script src="../app/scripts/vendor/jquery.xml2json.js"></script>
        <script src="../app/scripts/settings.js"></script>
        <script src="../app/scripts/vendor/jquery-ui-1.9.2.min.js"></script>
        <script src="../app/scripts/vendor/jquery.ui.touch-punch.js"></script>
        <script src="../app/scripts/vendor/globalize.js"></script>
        <script src="../app/scripts/vendor/cultures/globalize.culture.nl.js"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/leaflet.js -->
        <script src="../app/scripts/vendor/googlemap.js"></script>
        <script src="../app/scripts/vendor/leaflet.js"></script>
        <script src="../app/scripts/vendor/leaflet.markercluster-src.js"></script>
        <script src="../app/scripts/vendor/leaflet.draw.js"></script>
        <script src="../app/scripts/vendor/leaflet.google.js"></script>
        <script src="../app/scripts/vendor/Control.FullScreen.js"></script>
        <script src="../app/scripts/vendor/proj4js-combined.js"></script>
        <script src="../app/scripts/vendor/tile.stamen.js"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/extras.js -->
        <script src="../app/scripts/vendor/raphael.js"></script>
        <script src="../app/scripts/vendor/justgage.1.0.1.js"></script>
        <script src="../app/scripts/vendor/gauge.min.js"></script>
        <script src="../app/scripts/vendor/holder.js"></script>
        <script src="../app/scripts/vendor/matches.min.js"></script>
        <script src="../app/scripts/vendor/keymaster.min.js"></script>
        <script src="../app/scripts/vendor/augment.min.js"></script>
        <script src="../app/scripts/vendor/heyoffline.js"></script>
        <script src="../app/scripts/vendor/garlic.min.js"></script>
        <script src="../app/scripts/vendor/xsduration.js"></script>
        <script src="../app/scripts/vendor/async.min.js"></script>
        <script src="../app/scripts/vendor/dat.gui.min.js"></script>
        <script src="../app/scripts/vendor/json2.js"></script>
        <script src="../app/scripts/vendor/underscore.js"></script>
        <script src="../app/scripts/vendor/numeral.js"></script>
        <script src="../app/scripts/vendor/jsonselect.js"></script>
        <script src="../app/scripts/vendor/jspath.min.js"></script>
        <script src="../app/scripts/vendor/jquery.gridster.js"></script>
        <script src="../app/scripts/vendor/viewport.js"></script>
        <script src="../app/scripts/vendor/lunr.js"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/backbone.js -->
        <script src="../app/scripts/vendor/backbone-0.9.10.js"></script>
        <script src="../app/scripts/vendor/backbone-associations-min.js"></script>
        <script src="../app/scripts/vendor/backbone.fetch-cache.js"></script>
        <script src="../app/scripts/vendor/backbone-localstorage.js"></script>
        <script src="../app/scripts/vendor/backbone.marionette.1.0.2.js">
        </script>
        <script src="../app/scripts/vendor/backbone.modelbinder.js"></script>
        <script src="../app/scripts/vendor/backbone.collectionbinder.js"></script>
        <script src="../app/scripts/vendor/visualsearch.js" type="text/javascript"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/bootstrap.js -->
        <script src="../app/scripts/vendor/bootstrap.min.js"></script>
        <script src="../app/scripts/vendor/bootstrap-notify.js"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/flot.js -->
        <script src="../app/scripts/lizard/lizard.layerbubble.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-dev/jquery.flot.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-dev/jquery.flot.navigate.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-dev/jquery.flot.time.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-dev/jquery.flot.resize.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.legendoncanvas.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.touch.nens.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.axislabels.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.tooltip.nens.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.zoombuttons.nens.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.lazyload.js"></script>
        <script type="text/javascript" src="../app/scripts/vendor/jquery-flot-plugins/jquery.flot.legendonmouseover.nens.js"></script>
        <!-- endbuild -->

        <!-- build:js ../app/scripts/build.js -->
        <script src="../app/scripts/lizard/lizard.app.js"></script>
        <script src="../app/scripts/lizard/lizard.models.js"></script>
        <script src="../app/scripts/lizard/layers/MapLayer.js"></script>
        <script src="../app/scripts/lizard/layers/WMSLayer.js"></script>
        <script src="../app/scripts/lizard/layers/DdscMarkerLayer.js"></script>
        <script src="../app/scripts/lizard/layers/WMSTemplateLayer.js"></script>
        <script src="../app/scripts/lizard/layers/custom/DinoLayer.js"></script>
        <script src="../app/scripts/lizard/lizard.collections.js"></script>
        <script src="../app/scripts/lizard/lizard.views.js"></script>
        <script src="../app/scripts/lizard/views/MapLegend.js"></script>
        <script src="../app/scripts/lizard/views/Map.js"></script>
        <script src="../app/scripts/lizard/popups/DdscTimeseries.js"></script>
        <script src="../app/scripts/lizard/views/Timeseries.js"></script>
        <script src="../app/scripts/lizard/views/WorkspaceList.js"></script>
        <script src="../app/scripts/lizard/views/ActiveWorkspace.js"></script>
        <script src="../app/scripts/lizard/views/ExtraLayerList.js"></script>
        <script src="../app/scripts/lizard/widgets/Widget.js"></script>
        <script src="../app/scripts/lizard/widgets/GageWidget.js"></script>
        <script src="../app/scripts/lizard/widgets/TemplateWidget.js"></script>
        <script src="../app/scripts/lizard/widgets/GraphWidget.js"></script>
        <script src="../app/scripts/lizard/views/WidgetCollection.js"></script>

        <script src="../app/scripts/lizard/views/CollageList.js"></script>
        <script src="../app/scripts/lizard/views/FavoriteCollection.js"></script>
        <script src="../app/scripts/lizard/views/Annotations.js"></script>
        <script src="../app/scripts/lizard/views/HomePageList.js"></script>

        <script src="../app/scripts/utilities.js"></script>
        <script src="../app/scripts/lizard/lizard.visualsearch.js"></script>


        <script src="../app/scripts/lizard/lizard.home.js"></script>
        <script src="../app/scripts/lizard/lizard.help.js"></script>
        <script src="../app/scripts/lizard/lizard.account.js"></script>
        <script src="../app/scripts/lizard/lizard.collage.js"></script>
        <script src="../app/scripts/lizard/lizard.map.js"></script>
        <script src="../app/scripts/lizard/lizard.graph.js"></script>
        <script src="../app/scripts/lizard/lizard.tabular.js"></script>
        <script src="../app/scripts/lizard/lizard.dashboard.js"></script>
        <script src="../app/scripts/lizard/lizard.eventlisteners.js"></script>

        <script src="../app/scripts/lizard/models/Annotation.js"></script>
        <script src="../app/scripts/lizard/models/Annotations.js"></script>
        <script src="../app/scripts/lizard/collections/Annotation.js"></script>
        <!-- endbuild -->

        <script type="text/javascript">
        $(document).ready(function() {
          Lizard.App.start();
        });
        </script>


    <!-- Load in spec files -->
    <script src="spec/application.spec.js"></script>

</head>
<body>
    <div id="mocha"></div>

    <script>
        (function() {
          var runner = mocha.run();

          if(!window.PHANTOMJS) return;

          runner.on('test', function(test) {
            sendMessage('testStart', test.title);
          });

          runner.on('test end', function(test) {
            sendMessage('testDone', test.title, test.state);
          });

          runner.on('suite', function(suite) {
            sendMessage('suiteStart', suite.title);
          });

          runner.on('suite end', function(suite) {
            if (suite.root) return;
            sendMessage('suiteDone', suite.title);
          });

          runner.on('fail', function(test, err) {
            sendMessage('testFail', test.title, err);
          });

          runner.on('end', function() {
            var output = {
              failed  : this.failures,
              passed  : this.total - this.failures,
              total   : this.total
            };

            sendMessage('done', output.failed,output.passed, output.total);
          });

          function sendMessage() {
            var args = [].slice.call(arguments);
            alert(JSON.stringify(args));
          }
        })();
    </script>
</body>
</html>
