body {
    /*background-image: url('../images/tiny_grid.png');*/
    /*background-image: url('../images/diagonales_decalees.png');*/
    /*background-image: url('../images/furley_bg.png');*/
    /*background-image: url('../images/graphy.png');*/
    /*background-image: url('../images/noisy_grid.png');*/
    /*background-image: url('../images/project_papper.png');*/
    /*background-image: url('../images/subtle_freckles.png');*/
}

/* Will be compiled down to a single stylesheet with your sass files */
a {
	cursor: pointer;
}


#map {
    height: 100%;
    box-shadow: 0 8px 16px -8px #222;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    border-radius: 6px;
}

.footer {
    background-color: #fff;
}
.footer span {
    color: #ccc;
    font-size: .7em;
    padding: 10px;
}

.jumbotron {
    position: relative;
    padding: 60px 0 0;
    margin: 20px 0px 0px 0px;
    color: white;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0b3564), color-stop(100%,#114c92));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);

}
.jumbotron .container {
	padding: 0px 20px 0px 20px;
}

.jumbotron h1 { font-size: 40px; }

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/jumbotron-pattern.png) repeat center center;
    opacity: .4;
}


ol.drawer-group{
    font-size: .8em;
}
ol.drawer-group span{
    list-style: none;
}

ol.drawer-group {
    padding: 8px 10px;
    position: relative;
    margin: 0;
}
ol.drawer-group li{
    list-style: none;
    position: relative;
    border: none;
    margin: 0 0 1px 0;
    padding: 5px 30px 5px 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    background: #f3f3f3;    
    cursor: pointer;
}

ol.drawer-group li.active{
    background: -webkit-linear-gradient(top,#e7e7e7 0%,#e7e7e7 0%,#dbdbdb 100%);
}

ol.drawer-group span.handle{
    cursor: pointer;
    cursor: url(http://maps.gstatic.com/intl/en_us/mapfiles/openhand_8_8.cur) 10 10,move;
}

ol.drawer-group span.action {
    position: absolute;
    left: 0px;
    top: 35%;
    /*background: url(../images/layer-handle.png) no-repeat center center;*/
    width: 14px;
    height: 28px;
    border-right: 1px solid #fff;
}
ol.drawer-group span a {
    text-decoration: none;
    color: #000;
}

ol.drawer-group span.indicator {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 19px;
    height: 19px;
}

ol.drawer-group h4 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mini-drop {
    display: none;
    margin-right: 0;
    margin-top: 8px;
    text-indent: 0;
}



#home-search-wrapper {
    margin: 50px 0px 50px 0px;
}
#home-search-wrapper input[type=text] {
    width: 94%;
    height: 30px;
    border: 2px solid #ccc;
    font: normal 200 21px/1.2 Pill, "Helvetica Neue", Helvetica, sans-serif;
}
#home-search-wrapper .search-or-divider{
    font-weight: bold;
    color: #999;
}
#home-search-wrapper .search-or-divider p{
    margin-top: 7px;
}
#home-search-wrapper button.btn {
    width: 180px;
    height: 40px;
}

#threecol-wrapper {
    background: -moz-linear-gradient(top, rgba(219,219,219,1) 0%, rgba(206,206,206,0.91) 9%, rgba(230,230,230,0.01) 99%, rgba(230,230,230,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(9%,rgba(206,206,206,0.91)), color-stop(99%,rgba(230,230,230,0.01)), color-stop(100%,rgba(230,230,230,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#00e6e6e6',GradientType=0 ); /* IE6-9 */
}
#threecol-wrapper #leftpane{
    padding:20px;
    
    outline-right: 1px solid #d6d6d6;
    border-right: 1px solid #fefefe;
}
#threecol-wrapper #midpane{
    padding:20px;
    outline-right: 1px solid #d6d6d6;
    border-right: 1px solid #fefefe;
}
#threecol-wrapper #midpane span img, #threecol-wrapper #rightpane span img{
    padding: 5px;
}
#threecol-wrapper #rightpane{
    padding:20px;    
    
}
#threecol-wrapper h3 {
     font: normal 200 21px/1.2 Pill, "Helvetica Neue", Helvetica, sans-serif;   
}















.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.demo:hover .gridster {
    opacity: 1;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}
.gridster ul, .gridster ul li {
    list-style: none;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs_w.try {
    background-image: url('../images/dragme.png');
    background-repeat: no-repeat;
    background-position: 40px;
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}






#gauge-preview {
    margin: 200px;
    /* background: #f9f9f9; */
    position: relative;
    color: #fff;
    float: left;
    width: 220px;
    height: 220px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;    
}

#g1, #g2, #g3 {
    width:200px; height:160px;
    display: inline-block;
    margin: 50px 0px 0px 46px;
}









.layersview-popover {
    border: 1px solid red;
    background-color: blue;
    width:500px;
    height:500px;
}













.sidenav {
    padding: 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 8px 16px -8px #222;
}
.sidenav > li > a {
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
    border: 1px solid #E5E5E5;
}
.sidenav > li:last-child > a { border-radius: 0 0 6px 6px; }
.sidenav > li:first-child > a { border-radius: 6px 6px 0 0; }
.sidenav .icon-chevron-down {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
.sidenav .icon-chevron-right {
    float: left;
    margin-top: 2px;
    margin-left: -16px;
    opacity: .25;
}
.sidenav > .active > a {
    position: relative;
    z-index: 2;
    padding: 9px 15px;
    border: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidenav .accordion-group {
    margin-bottom: 0;
    border-radius: 0;
}
.sidenav p {
    padding: 3px 5px 10px 16px;
    margin: 0;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    font-size: 0.9em;
    box-shadow: inset 0 8px 8px -6px  #000000;
    background: whitesmoke;
}


/* measure details area */
.overview { margin-bottom: 35px; }
.popover-trigger { text-decoration: none; border-bottom: 1px dashed; font-weight: bold; }
.popover-trigger:hover { text-decoration: none; }
.measure-details {
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 8px 16px -8px #222;
    margin-top: 20px;
}
.measure-details p { padding: 5px; }
.measure-info-header {
    border-bottom: 1px solid #EEE;
    background-color: whiteSmoke;
    padding: 1px 5px;
}
#selectedNeighborhood { line-height: 20px; }
.measureText { font-size: 1.4em; font-weight: bold; }
.measure-details h5 { margin: 0; padding: 0; }
.chart { margin-bottom: 20px; }


/* Information panel */
.infobox{
    padding: 1em;
    background-color: #fff;
    width: 120px;
}




#filtersRegion ul, #filtersRegion ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#locationsRegion ul, #locationsRegion ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}
#parametersRegion ul, #parametersRegion ul li {
    list-style: none;
    margin: 0;
    padding: 0;
}















/************ BOOTSTRAP OVERRIDES ************/
.navbar {
    z-index: 10000;
}
.navbar-inner{
    background: rgb(23,127,140); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(23,127,140,1) 0%, rgba(17,94,103,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,127,140,1)), color-stop(100%,rgba(17,94,103,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177f8c', endColorstr='#115e67',GradientType=0 ) !important; /* IE6-9 */    
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
    color: #ffffff;
    background: rgb(23,127,140) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(23,127,140,1) 0%, rgba(17,94,103,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,127,140,1)), color-stop(100%,rgba(17,94,103,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177f8c', endColorstr='#115e67',GradientType=0 ) !important; /* IE6-9 */    
}

.btn-navbar{
    color: #ffffff;
    background: rgb(23,127,140) !important; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(23,127,140,1) 0%, rgba(17,94,103,1) 100%) !important; /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(23,127,140,1)), color-stop(100%,rgba(17,94,103,1))) !important; /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* IE10+ */
    background: linear-gradient(to bottom, rgba(23,127,140,1) 0%,rgba(17,94,103,1) 100%) !important; /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#177f8c', endColorstr='#115e67',GradientType=0 ) !important; /* IE6-9 */    
}
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
background-color: #d9d9d9 !important;
}
.navbar .nav-collapse .nav > li > a:hover, .navbar-inverse .nav-collapse .dropdown-menu a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
    background-color: #0088cc !important;
    background-color: #0081c2 !important;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3)) !important;
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3) !important;
    background-image: -o-linear-gradient(top, #0088cc, #0077b3) !important;
    background-image: linear-gradient(to bottom, #0088cc, #0077b3) !important;
    background-repeat: repeat-x !important;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0) !important;
}
.navbar-inverse .nav-collapse .navbar-form, .navbar-inverse .nav-collapse .navbar-search {
border-top-color: #167884 !important;
border-bottom-color: #167884 !important;
}





#demo{
position: relative;
/* margin-top: 20px; */
}

.group {
  margin-bottom: 1em;
}

.axis {
  font: 10px sans-serif;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

.axis text {
  -webkit-transition: fill-opacity 250ms linear;
}

.axis path {
  display: none;
}

.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis.top {
  background-image: linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0) 100%);
  top: 0px;
  padding: 0 0 24px 0;
}

.axis.bottom {
  background-image: linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -o-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -moz-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient(bottom, #fff 0%, rgba(255,255,255,0) 100%);
  bottom: 0px;
  padding: 24px 0 0 0;
}

.horizon {
  border-bottom: solid 1px #000;
  overflow: hidden;
  position: relative;
}

.horizon {
  border-top: solid 1px #000;
  border-bottom: solid 1px #000;
}

.horizon + .horizon {
  border-top: none;
}

.horizon canvas {
  display: block;
}

.horizon .title,
.horizon .value {
  bottom: 0;
  line-height: 30px;
  margin: 0 6px;
  position: absolute;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  white-space: nowrap;
}

.horizon .title {
  left: 0;
}

.horizon .value {
  right: 0;
}

.line {
  background: #000;
  z-index: 2;
}
