/* Will be compiled down to a single stylesheet with your sass files */
a {
	cursor: pointer;
}
.navbar {
	z-index: 10000;
}
#map, #mapRegion {
    height: 600px;
}    

.footer {
    background-color: #fff;
}
.footer span {
    color: #ccc;
    font-size: .7em;
    padding: 10px;
}

.jumbotron {
    position: relative;
    padding: 60px 0 0;
    margin: 20px 0px 0px 0px;
    color: white;
    text-align: left;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    background: #020031;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#0b3564), color-stop(100%,#114c92));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);

}
.jumbotron .container {
	padding: 0px 20px 0px 20px;
}

.jumbotron h1 { font-size: 40px; }

.jumbotron::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/jumbotron-pattern.png) repeat center center;
    opacity: .4;
}


ol.drawer-group{
    font-size: .8em;
}
ol.drawer-group span{
    list-style: none;
}

ol.drawer-group {
    padding: 8px 10px;
    position: relative;
    margin: 0;
}
ol.drawer-group li{
    list-style: none;
    position: relative;
    border: none;
    margin: 0 0 1px 0;
    padding: 5px 30px 5px 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    background: #f3f3f3;    
    cursor: pointer;
}

ol.drawer-group li.active{
    background: -webkit-linear-gradient(top,#e7e7e7 0%,#e7e7e7 0%,#dbdbdb 100%);
}

ol.drawer-group span.handle {
    position: absolute;
    cursor: pointer;
    left: 0px;
    top: 0px;
    background: url(../images/layer-handle.png) no-repeat center center;
    cursor: url(http://maps.gstatic.com/intl/en_us/mapfiles/openhand_8_8.cur) 10 10,move;
    width: 11px;
    height: 28px;
    border-right: 1px solid #fff;
}
ol.drawer-group span a {
    text-decoration: none;
    color: #000;
}

ol.drawer-group span.indicator {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 19px;
    height: 19px;
}

ol.drawer-group h4 {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mini-drop {
    display: none;
    margin-right: 0;
    margin-top: 8px;
    text-indent: 0;
}



#home-search-wrapper {
    margin: 50px 0px 50px 0px;
}
#home-search-wrapper input[type=text] {
    width: 94%;
    height: 30px;
    border: 2px solid #ccc;
    font: normal 200 21px/1.2 Pill, "Helvetica Neue", Helvetica, sans-serif;
}
#home-search-wrapper .search-or-divider{
    font-weight: bold;
    color: #999;
}
#home-search-wrapper .search-or-divider p{
    margin-top: 7px;
}
#home-search-wrapper button.btn {
    width: 180px;
    height: 40px;
}

#threecol-wrapper {
    background: -moz-linear-gradient(top, rgba(219,219,219,1) 0%, rgba(206,206,206,0.91) 9%, rgba(230,230,230,0.01) 99%, rgba(230,230,230,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(219,219,219,1)), color-stop(9%,rgba(206,206,206,0.91)), color-stop(99%,rgba(230,230,230,0.01)), color-stop(100%,rgba(230,230,230,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(219,219,219,1) 0%,rgba(206,206,206,0.91) 9%,rgba(230,230,230,0.01) 99%,rgba(230,230,230,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbdb', endColorstr='#00e6e6e6',GradientType=0 ); /* IE6-9 */
}
#threecol-wrapper #leftpane{
    padding:20px;
    
    outline-right: 1px solid #d6d6d6;
    border-right: 1px solid #fefefe;
}
#threecol-wrapper #midpane{
    padding:20px;
    outline-right: 1px solid #d6d6d6;
    border-right: 1px solid #fefefe;
}
#threecol-wrapper #midpane span img, #threecol-wrapper #rightpane span img{
    padding: 5px;
}
#threecol-wrapper #rightpane{
    padding:20px;    
    
}
#threecol-wrapper h3 {
     font: normal 200 21px/1.2 Pill, "Helvetica Neue", Helvetica, sans-serif;   
}















.demo {
    margin: 3em 0;
    padding: 7.5em 0 5.5em;
    background: #004756;
}

.demo:hover .gridster {
    opacity: 1;
}

.gridster {
    width: 940px;
    margin: 0 auto;

    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}
.gridster ul, .gridster ul li {
    list-style: none;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster .player {
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}


.gridster .gs_w.try {
    background-image: url('../images/dragme.png');
    background-repeat: no-repeat;
    background-position: 40px;
}

.gridster .preview-holder {
    border: none!important;
    border-radius: 0!important;
    background: rgba(255,255,255,.2)!important;
}






#gauge-preview {
    margin: 200px;
    /* background: #f9f9f9; */
    position: relative;
    color: #fff;
    float: left;
    width: 220px;
    height: 220px;
    margin: 0 20px 20px 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    clear: both;    
}

#g1, #g2, #g3 {
    width:200px; height:160px;
    display: inline-block;
    margin: 50px 0px 0px 46px;
}







ul {
  list-style: disc;
  padding-left: 10px;
  margin-left: 10px;    
}​


.layersview-popover {
    border: 1px solid red;
    background-color: blue;
    width:500px;
    height:500px;
}

