localsettings.js
buildout.cfg
flot/

*.py[cwo]
.DS_Store
.jshintrc
.gitattributes
.editorconfig
.mr.developer.cfg
.installed.cfg

var/log
var
develop-eggs
eggs
bin
parts
src
etc/*.nginx.conf

node_modules/
temp/
dist/