<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-title" content="DDSC" />
                
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>DDSC</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        
        <link rel="stylesheet" href="styles/main.css">
        <link href="styles/ui-darkness/jquery-ui-1.9.2.custom.css" rel="stylesheet">
        <link href="styles/bootstrap.css" rel="stylesheet">
        <link href="styles/bootstrap-notify.css" rel="stylesheet">
        <link href="styles/alert-blackgloss.css" rel="stylesheet">
        <link href="styles/jquery.gridster.css" rel="stylesheet">
        <style>
            body {
              padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>

        <link href="styles/bootstrap-responsive.css" rel="stylesheet">
        <link rel="stylesheet" href="styles/leaflet.css" />
        <!--[if lte IE 8]>
          <link rel="stylesheet" href="styles/leaflet.ie.css" />
        <![endif]-->
        <script src="scripts/vendor/modernizr.min.js"></script>

        <!-- Template definitions -->
        <script type="text/template" id="home-template">
          <header class="jumbotron subhead hidden-phone hidden-tablet">
              <div class="container">
                <h1>Dijk Data Service Center</h1>
                <h2 class="lead">Gateway to realtime sensor aggregation</h2>
              </div>
          </header>

          <div class="row-fluid" id="home-search-wrapper">
             <div class="span6">
                <form class="form-search">
                  <input type="text" class="input-medium search-query" placeholder="Doorzoek het DDSC">
                </form>
             </div>
             <div class="span1 search-or-divider"><p>&nbsp;&nbsp;...of</p></div>
             <div class="span5">
                <button type="button" class="btn">
                    Zoek geavanaceerd
                </button>
                <button type="button" class="btn">
                    Data catalogus
                </button>                
             </div>
          </div>

          <div class="row-fluid" id="threecol-wrapper">
            <section class="span4" id="leftpane">

                <h3>Top locaties <button type="button" class="btn btn-mini">Alles op de kaart tonen</button></h3>

                <ol>
                    <li>Eemshaven</li>
                    <li>Utrecht</li>
                    <li>De Veenderij</li>
                    <li>Noorderzijlvest</li>
                    <li>Locatie 5</li>
                    <li>Locatie 6</li>
                    <li>Locatie 7</li>
                    <li>Locatie 8</li>
                    <li>Locatie 8</li>
                    <li>Locatie 8</li>
                </ol>
            </section>
            <section class="span4" id="midpane">
                <div class="row">
                    <h3>Alarmen</h3>
                </div>
                <div class="row">
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                </div>
            </section>
            <section class="span4" id="rightpane">
                <div class="row">
                    <h3>Sensoren</h3>
                </div>
                <div class="row">
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>
                    <span><img src="http://lorempixel.com/50/50/"/></span>                
                </div>
            </section>            
          </div>
        </script>

        <script type="text/template" id="map-template">
          <div class="row-fluid">

            <div class="span3" id="sidebarRegion"></div>

            <div class="span9" id="leafletRegion"></div>

          </div>
        </script>

        
        <script type="text/template" id="icon-template">
            Some icon
        </script>
        
        <script type="text/template" id="show-no-items-message-template">
            <h4>&nbsp;</h4>
            <p>...</p>
        </script>
        
        <script type="text/template" id="iconsview-template">
            <h4>Icons</h4>
        </script>


        <script type="text/template" id="leaflet-template">
            <h4>Kaart</h4>
            <div id="map"></div>
        </script>


        <script type="text/template" id="layeritem-template">
            <span class="handle"></span>
            <span class="content"><%= layerName %> (<%= layerType %>)</span>
            <span class="indicator">
                <i class="icon-eye-open"></i>
            </span>
        </script>

        <script type="text/template" id="layersview-template">
            <h4><%=title%></h4>
        </script>


        <script type="text/template" id="testview-template">
            <span id="summary">
                <h5>Modelbinder example</h5>
                <p>Dit is een voorbeeld van <a href="https://github.com/theironcook/Backbone.ModelBinder">model binding met de de-facto standaard</a> voor Backbone.</p>
                <p>Verander de voor/achternaam. Het object wordt (op het blur event) bi-directioneel aangepast.</p>
                <blockquote>
                    <code style="white-space: pre;" />
                </blockquote>
            </span>

            <div id="personFields">
                <form class="form-horizontal">
                  <div class="control-group">
                    <label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
                      <input type="text" name="firstName" id="firstName" placeholder="John">
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
                      <input type="text" name="lastName" id="lastName" placeholder="Doe">
                    </div>
                  </div>
                </form>   
            </div>
        </script>

        <script id="node-template" type="text/template">
            <li><a href="<%= name %>"><%= nodeName %></a></li>
        </script>

        <script type="text/template" id="graphs-template">
          <div class="row-fluid">
            <div class="span2" id="sidebarRegion">
              <h4>App Icons</h4>
            </div>

            <div class="span10" id="mainRegion">
             <h4>Grafieken</h4>
              <div id="graphs"></div>
            </div>
          </div>
        </script>

        <script type="text/template" id="dashboard-template">
            <div class="gridster">
              <ul>
                
                <li class="try" data-row="2" data-col="3" data-sizex="1" data-sizey="1"></li>
              </ul>
            </div>
        </script>

        <script type="text/template" id="overview-template">
          <div class="row-fluid">
            <div class="span12" id="dashboardRegion"></div>
          </div>          
        </script>

        <script type="text/template" id="account-template">
          <h4>Uw gegevens</h4>
        </script>

        <script type="text/template" id="help-template">
          <h4>Help</h4>
        </script>

    </head>
    <body>
    
      <div id="header">
        <div class="navbar navbar-inverse navbar-fixed-top" style="z-index: 10;">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">DDSC</a>

                    <div class="nav-collapse collapse">

                        <ul class="nav" id="menu">
                            <li class="home-menu"><a href="#">Home</a></li>
                            <li class="map-menu"><a href="#map">Kaart</a></li>
                            <li class="graphs-menu"><a href="#graphs">Grafieken</a></li>
                            <li class="overview-menu"><a href="#overview">Overzichten</a></li>
                            <!-- <li class="manage-menu"><a href="#manage">Beheer</a></li> -->
                        </ul>

                        <ul class="nav pull-right">
                            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bastiaan Roos <i class="icon-user icon-white"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                <li class="about-menu"><a href="#logout"></a></li>
                                    <li><a href="#account" target="">Uw gegevens</a></li>
                                    </li>
                                    <li class="divider"></li>
                                    <li class="nav-header">DDSC</li>
                                    <li><a href="#help">Help</a></li>
                                    <li><a href="#">Uitloggen</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </div>

      </div>
    
      
      <div class="container">
        <div class='notifications top-right'></div>
        <div id="content">
        </div>
        <div class="row-fluid footer">
            <span class="pull-right">&copy; 2012-2013 Stichting IJkdijk en partners</span>
        </div>
      </div>
    
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->        
        
        <!-- Loading JS at the end of the file -->
        <!-- <script src="http://use.edgefonts.net/andika.js"></script> -->
        <!-- <script src="http://use.edgefonts.net/arvo.js"></script> -->
        
        <!-- jQuery -->
        <script src="scripts/vendor/jquery-1.8.3.js"></script>
        <script src="scripts/vendor/jquerypp.js"></script>

        <!-- jQuery UI and touch support -->
        <script src="scripts/vendor/jquery-ui-1.9.2.custom.js"></script>
        <script src="scripts/vendor/jquery.ui.touch-punch.js"></script>

        <!-- jsTree -->
        <script src="scripts/vendor/jstree.js"></script>        

        <!-- jQuery-based i18n -->
        <script src="scripts/vendor/globalize.js"></script>
        <script src="scripts/vendor/cultures/globalize.cultures.js"></script>

        <!-- Slippy map rendering alternative to OpenLayers -->
        <script src="scripts/vendor/leaflet.js"></script>
        <script src="scripts/vendor/proj4js-combined.js"></script>
        <script src="scripts/vendor/tile.stamen.js"></script>

        <!-- The most versatile graph library around -->
        <script src="scripts/vendor/d3.v2.js"></script>

        <!-- Powerful time-series filtering tool -->
        <script src="scripts/vendor/crossfilter.js"></script>

        <!-- Higher level D3-based graphing library with Crossfilter support  -->
        <script src="scripts/vendor/dc.min.js"></script>

        <!-- The most versatile graph library around -->
        <script src="scripts/vendor/raphael.js"></script>

        <!-- Gauges lib based on raphael -->
        <script src="scripts/vendor/justgage.1.0.1.js"></script>        
                        
        <!-- The most versatile graph library around, depends on Raphael.js -->
        <script src="scripts/vendor/morris.min.js"></script>

        <!-- Gauges in JS by http://bernii.github.com/gauge.js/ -->
        <script src="scripts/vendor/gauge.min.js"></script>

        <!-- Client side image placeholders -->
        <script src="scripts/vendor/holder.js"></script>

        <!-- Regexp lib -->
        <script src="scripts/vendor/matches.min.js"></script>

        <!-- Keyboard shortcut defining and dispatching -->
        <script src="scripts/vendor/keymaster.min.js"></script>

        <!-- The go-to library for anything WebGL/Canvas related -->
        <script src="scripts/vendor/Three.js"></script>

        <!-- Drop-in script for detecting offline state -->
        <script src="scripts/vendor/heyoffline.js"></script>

        <!-- Drop-in script for persisting form state -->
        <script src="scripts/vendor/garlic.min.js"></script>

        <!-- Adds duration to datetime -->
        <script src="scripts/vendor/xsduration.js"></script>

        <!-- Async -->
        <script src="scripts/vendor/async.min.js"></script>

        <!-- Quick javascript controller Widget -->
        <script src="scripts/vendor/dat.gui.min.js"></script>

        <!-- JSON library by Douglas Crockford -->
        <script src="scripts/vendor/json2.js"></script>

        <!-- Javascript utilities. Consider lodash instead? -->
        <script src="scripts/vendor/underscore.js"></script>
        <!-- <script src="scripts/vendor/lodash.min.js"></script> -->

        <!-- Library for number formatting -->
        <script src="scripts/vendor/numeral.js"></script>

        <!-- CSS like selectors for JSON -->
        <script src="scripts/vendor/jsonselect.js"></script>        

        <!-- XPATH-like library for JSON -->
        <script src="scripts/vendor/jspath.min.js"></script>        

        <!-- Grid/dashboard library by Ducksboard.com -->
        <script src="scripts/vendor/jquery.gridster.js"></script>        



        <!-- Backbone -->
        <script src="scripts/vendor/backbone.js"></script>
        <script src="scripts/vendor/backbone-localstorage.js"></script>
        <script src="scripts/vendor/backbone.babysitter.js"></script>
        <script src="scripts/vendor/backbone.marionette.js"></script>
        <script src="scripts/vendor/backbone.modelbinder.js"></script>
        <script src="scripts/vendor/backbone.collectionbinder.js"></script>




        <!-- Visualsearch.js by Documentcloud -->
        <script src="scripts/vendor/visualsearch.js" type="text/javascript"></script>
        <!--[if (!IE)|(gte IE 8)]><!-->
          <link href="styles/visualsearch-datauri.css" media="screen" rel="stylesheet" type="text/css" />
        <!--<![endif]-->
        <!--[if lte IE 7]><!-->
          <link href="styles/visualsearch.css" media="screen" rel="stylesheet" type="text/css" />
        <!--<![endif]-->        

        <!-- Twitter Bootstrap base javascript -->
        <script src="scripts/vendor/bootstrap.js"></script>
        <script src="scripts/vendor/bootstrap-notify.js"></script>


        <script src="scripts/lizard.layerbubble.js"></script>

        <!-- Application code, split into files -->
        <script src="scripts/mapping.js"></script>
        <script src="scripts/lizard.js"></script>
        <script src="scripts/lizard.home.js"></script>
        <script src="scripts/lizard.help.js"></script>
        <script src="scripts/lizard.account.js"></script>
        <script src="scripts/lizard.map.js"></script>
        <script src="scripts/lizard.graphs.js"></script>
        <script src="scripts/lizard.overview.js"></script>

        <!-- Backbone Application bootstrapping -->
        <script type="text/javascript">
        $(document).ready(function() {
          Lizard.start();
        });    

        </script>
        

    </body>
</html>
